@inject IHttpContextAccessor _contextAccessor;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />

</head>
<body dir="@(CultureHelper.IsRightToLeft()?"rtl":"ltr")">
    <nav class="navbar navbar-expand-lg bg-body-tertiary container">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a asp-controller="Product" asp-action="Index" class="nav-link">Products</a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="Privacy" class="nav-link">Privacy</a>
                    </li>
                </ul>
               @*  <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <!-- hello: @_contextAccessor.HttpContext?.Request.Cookies["userName"]-->
                        hello: @_contextAccessor.HttpContext?.Session.GetString("userName")
                    </li>
                </ul> *@
                <div class="col-md-6 text-right">
                    @await Html.PartialAsync("_SelectLanguagePartial")
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>

    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    @if (IsSectionDefined("Scripts"))
    {
        @await RenderSectionAsync("Scripts", true)
    }
    
</body>
</html>
